@charset "utf-8";


/* ==============================
 * header
 * ============================== */
header{position: fixed;top: 0;left: 0;right: 0;height: 90px;z-index: 1000;width: 100%;background: #fff;border-bottom: 1px solid #eee;}
header .PCheader .inner{position: relative;padding-bottom: 38px;width: 1510px;margin: 0 auto;transition-duration: .2s;transition-delay: .2s;}
header h1{padding: 35px 0 0;}
header h1 a{display: block;width: 206px;height: 17px;font-size: 0;background:url(../images/logoGnb.png) no-repeat 0 0;}
header .utilList{position: absolute;top: 33px;left: 280px;width: 1200px; }
header .utilList:after {content:''; display:block; clear:both;}
header .utilList li{float: left;width: 20%;text-align: right;}
header .utilList li:last-child{margin-right: 0;}
header .utilList li a{font-weight: 300;font-size: 18px;color: #222}
header .utilList li a:hover{color: #1168c0;}
.gnbWrap{display: none;position: absolute;left: 0;top: 90px;right:0;z-index: 10;background: #f8f8f8; }
.gnbWrap.on{display: block;}
.gnbList{margin-left: 400px;padding-top: 35px;}
.gnbList:after {content:''; display:block; clear:both;}
.gnbList > li{float: left;margin-right: 155px;}
.gnbList > li:first-child{margin-right: 115px;}
.gnbList > li:nth-child(2){width: 130px}
.gnbList > li:nth-child(3){margin-right: 185px;}
.gnbDept > li{position: relative;text-align: center;padding-bottom: 18px;}
.gnbDept > li a{display: block;width: 100%;font-size: 15px;font-weight: 200;color: #555}
.gnbDept  li a:hover{color: #1168c0}
.gnbDept > li > .gnbDept2{display: none;margin-top: 15px;}
.gnbDept > li > .gnbDept2 > li{height: 25px}
.gnbDept > li > .gnbDept2 > li a{font-size: 13px;color: #1168c0;}
.gnbDept > li:nth-child(1) > .gnbDept2{height: 170px}
.gnbDept > li:nth-child(2) > .gnbDept2{height: 50px}
.gnbDept > li:nth-child(4) > .gnbDept2{height: 50px}
.gnbDept > li:nth-child(5) > .gnbDept2{height: 80px}
.gnbDept > li.etc:before{display: block;content: '';position: absolute;top: 5px;right: 0;width: 7px;height: 7px;background: url(../images/ico_common.png) no-repeat -742px -10px}
.gnbDept > li.etc.on a{color: #1168c0;font-weight: 300}
.gnbDept > li.etc.on > .gnbDept2 > li a{padding: 5px 0;font-weight: 200}
.gnbDept > li.etc.on:before{display: block;content: '';width: 7px;height: 7px;background: url(../images/ico_common.png) no-repeat -723px -10px}

.sticky {position: fixed;top: 0;width: 100%;z-index: 1000;}
header.sticky{height: 77px;transition-duration: .2s;transition-delay: .2s;}
/*header.fix{position: fixed;left: 0;top: 0;z-index: 100}*/

.hyetc header{position: relative;top: inherit;left: inherit;right: inherit;}





/* mobile */
.Mheader{display: none;position: relative;background: #fff}
.Mheader .header{position: relative;height: 36px;border-bottom: 1px solid #eee;padding: 0 16px;}
.btnSide{position: relative;width: 20px;height: 14px;font-size: 0;}
.btnSide, .btnSide span{display: inline-block;transition: all .4s;box-sizing: border-box;}
.btnSide span{position: absolute;left: 0;width: 100%;height: 2px;background-color: #000;border-radius: 2px;}
.btnSide span:nth-of-type(1){top: 0;}
.btnSide span:nth-of-type(2){top: 6px;}
.btnSide span:nth-of-type(3){bottom: 0;}
.Mheader .header .btnSide{position: absolute;right: 18px;top: 11px}
.btnBack{display: none;position: absolute;top: 0;left: 0;width: 36px;height: 36px;font-size: 0;background:url('../images/sprite_icon.png') no-repeat 14px 9px;background-size: 500px 250px;}
.btnClose{position: absolute;top: 5px;right: 5px;width: 36px;height: 36px;font-size: 0;background:url('../images/sprite_icon.png') no-repeat -110px 10px;background-size: 500px 250px;}
.btnHome{position: absolute;top: 18px;left: 18px;width: 93px;height: 12px;font-size: 0;background:url('../images/sprite_icon.png') no-repeat -161px 0px;background-size: 500px 250px;}

.Mheader h2.titHead{position: absolute;top: 10px;left: 50%;margin-left: -56px;font-size: 0;width: 113px;height: 14px;background:url('../images/MlogoGnb.png') no-repeat 0 0;background-size:113px 14px;}
.innerSide{display: none;position: absolute;z-index: 11;}
.innerSide.open{display: block;}
.innerSide .layWrap{position: fixed;top: 0;right: -100%;bottom: 0;width: 100%;background: #fff;z-index: 10;}
.layWrap .topArea{height: 50px;background: #0f2871}
.topArea .userBox{position: relative;}
.navArea{height: calc(100vh - 50px);overflow: scroll;background: #f8f8f8}
.navArea .menuDepth1 > li{position: relative;background: #f8f8f8}
.navArea .menuDepth1 > li:after{display: block;content: '';position: absolute;top: 21px;right: 18px;width: 10px;height: 5px;background:url('../images/sprite_icon.png') no-repeat -35px -10px;background-size:500px 250px;}
.navArea .menuDepth1 > li > a{display: block;height: 50px;border-bottom: 1px solid #ccc;font-size: 14px;font-weight: 300;color: #222;padding: 17px 20px 0;}
.menuDepth2{display: none;padding: 12px 0 14px;background: #eee;border-bottom: 1px solid #ccc}
.menuDepth2 > li > a{display: block;font-size: 14px;color: #555;padding: 11px 20px;font-weight: 200;}
.menuDepth2 > li > a.on{color: #1168c0}
.navArea .menuDepth1 > li.on:after{background-position: -35px 0}
.navArea .menuDepth1 > li.on > a{color: #1168c0}
.navArea .menuDepth1 > li.etc:after{background-position: -56px 0;width: 5px;height: 10px;}


/* ==============================
 * footer
 * ============================== */
footer {position:absolute; bottom:0; left:0; width:100%;border-top: 1px solid #f5f5f5;z-index: 2;}
footer {background:#fff;}
.PCfooter{height: 110px}
.PCfooter .inner {position: relative;padding-top: 40px;width: 1510px;margin: 0 auto;}
.PCfooter .footLogo{width: 99px;height: 23px;font-size: 0;background:url(../images/logoFooter.png) no-repeat 0 0;}
.PCfooter .footerAbout{position: absolute;top: 20px;left: 155px;font-size: 13px;}
.PCfooter .footerAbout ul{display:inline-block; padding-top:23px; font-size:0;}
.PCfooter .footerAbout ul:after {content:''; display:block; clear:both;}
.PCfooter .footerAbout ul > li {position:relative; float:left;margin-right: 25px;margin-bottom: 5px;}
.PCfooter .footerAbout ul > li  a{font-size: 13px;font-weight: 300;color: #111}
.PCfooter .footerAbout address{margin-top: 15px;color: #333;line-height: 26px;}
.PCfooter .footerAbout p{color: #777}
.PCfooter select{position: absolute;top: 40px;right: 0;width: 198px;height: 34px;border: 1px solid #555;border-radius: 15px;color: #555;font-size: 13px;padding-left: 13px;text-transform: uppercase;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url(../images/icon_selectbox.png) no-repeat right 12px center;}

/* mobile */
.Mfooter {display: none;position: relative;width:100%;height: 100px;z-index: 2;background:#fff;padding-top: 10px}
.Mfooter > .inner {position: relative;padding-top: 40px;}
.Mfooter .footer{position: relative;}
.Mfooter .footLogo{position: relative;width: 67px;height: 14px;font-size: 0;background:url(../images/MlogoFooter.png) no-repeat 0 0;background-size: 49px 11px;margin-left: calc(50% - 24px);}
.Mfooter .footLogo:after{display: inline-block;content: '';position: absolute;top: 4px;right: 0;width: 9px;height: 4px;background:url('../images/sprite_icon.png') no-repeat -53px -16px;background-size:500px 250px;}
.Mfooter .footLogo.on:after{background-position: -53px -26px;}
.Mfooter .footarea{position: absolute;top: 20px;left: 50%;width: 280px;margin-left: -140px;}
.Mfooter .footAdd{display: none;text-align: center;font-size: 10px;color: #222;margin-top: 5px;}
.Mfooter .footAdd p{line-height: 20px}
.Mfooter .txt{text-align: center;font-size: 11px;color: #777;margin-top: 5px;}
.Mfooter .footerAbout{position: absolute;left: 0;bottom: 0;width: 100%;height: 45px;font-size: 13px;border-top: 1px solid #eee;}
.Mfooter .footerAbout ul{display:inline-block;width: 100%;padding: 10px 18px 0;}
.Mfooter .footerAbout ul:after {content:''; display:block; clear:both;}
.Mfooter .footerAbout ul > li {float: left;position:relative;width: 25%;margin-bottom: 5px;}
.Mfooter .footerAbout ul > li:first-child{width: 20%;}
.Mfooter .footerAbout ul > li:nth-child(2){width: 28%;}
.Mfooter .footerAbout ul > li:nth-child(3):after{display: inline-block;content: '';position: absolute;top: 7px;left:70%; width: 1px;height: 7px;background: #999}
.Mfooter .footerAbout ul > li  a{display: block;margin-top: 4px;font-size: 10px;font-weight: 300;color: #555}
.Mfooter .footerAbout address{margin-bottom: 5px;color: #333}
.Mfooter .footerAbout p{color: #777}
.Mfooter  select{width: 100%;height: 20px;border: none;font-size: 10px;font-weight: 300;color: #555;text-transform: uppercase;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: #fff url(../images/icon_selectbox.png) no-repeat right 12px center;background-size: 7px 4px}

/* ==============================
 * location
 * ============================== */
.locationWrap {position:relative; z-index:4; height:52px; background:#fff;border-bottom: 1px solid #eee}
.locationWrap .inner{position: relative;width: 1510px;margin: 0 auto}
/*.locationWrap.fix {position:fixed; top:0; left:0; width:100%;}*/
.locationWrap .locationHome {display:block;position:absolute;left: 0;top: 0;width: 55px;height: 52px;font-size:0; border-left:1px solid #eee; border-right:1px solid #eee;}
.locationWrap .locationHome:after{display: block;content: '';position: absolute;top: 15px;left: 16px;width: 21px;height: 19px;background: url(../images/ico_common.png) no-repeat 0px 0px}
.locationWrap .locationHome + .locationNav {margin-left: 54px;}
.locationNav {display:inline-block; font-size:0;}
.locationNav > li {position:relative; min-width:185px; float:left;border-bottom: 1px solid #eee;border-left: 1px solid #eee}
.locationNav > li + li {margin-left:-1px;}
.locationNav > li:after {content:''; position:absolute; top:0; right:0; z-index:1; height:100%; border-right:1px solid #eee;}
.locationNav > li > a {position:relative; display:block; padding:0 52px 0 28px; line-height:51px; color:#666;font-size: 17px;font-weight: 300}
.locationNav > li > a:after {content:''; position:absolute; top:50%; right:20px; width:11px; height:6px; margin-top:-4px; background:url(../images/ico_common.png) no-repeat -42px 0;}
.locationNav > li.fix > a{color: #222}
.locationNav > li.fix > a:after{background-position: -64px 0}
.locationNav > li > .txt {display:block; padding:0 28px; line-height:54px; color:#555;}
.locationNav > li.fix > a, .locationNav > li.fix > .txt {background:#fff;}
.locationNav > li.open > a {background:#fff;}
.locationNav > li.open .locationList {left:-1px;}
.locationNav > li.etc{width: 240px;}
.locationList {position:absolute; top:52px; left:-9999px; width:100%; border-left:1px solid #eee;border-right:1px solid #eee;border-bottom:1px solid #eee;}
.locationList li + li {border-top:1px solid #eee;}
.locationList li a {position:relative; display:block; padding:15px 30px; color:#666; font-size:15px;  background:#fff;}
.locationList li a:hover, .locationList li a:focus {color:#333; background:#fff;}
.locationList li a:hover:after, .locationList li a:focus:after {width:6px; height:10px; margin-top:-5px; background-position:-60px -40px;}

.wrap{padding-top: 90px;padding-bottom: 250px;}
.moCon{display: none;}
.pcCon{min-height: 850px}
.pcCon .inner{position: relative;width: 1510px;margin: 0 auto;}
.pcCon .section{padding: 120px 0}
.pcCon .section + .section{padding-top: 0}
.pcCon .section:last-child{padding-bottom: 0}
.pcCon .section.bg{padding-top: 120px;}
.pcCon .section.bg + .section{padding-top: 120px;}
.pcCon .section.bg:last-child{padding-bottom: 120px}
.pcCon .section.brTop{padding: 65px 0 0}
.pcCon .section.brTop .inner .ctiner{border-top: 1px solid #eee;}
.moCon .section{padding: 50px 18px}
.moCon .section + .section{padding-top: 0}
.moCon .section.bg{padding-top: 50px;}
.moCon .section.bg + .section{padding-top: 50px;}
.moCon .section:first-child{padding-top: 35px}
/*.moCon .section:last-child{padding-bottom: 0}*/
.moCon .section.bg:last-child{padding-bottom: 50px}
.section.bg{background: #fafafa}
.blind{text-indent: -9999px;}




.fthit, .fthit p{color: #1168c0 !important;font-weight: 300 !important}
.pginner{position: relative;margin: 0 auto;width: 1510px;}
.pageTop{position: absolute;right: 0;bottom: -115px;text-indent: -9999px;width: 54px;height: 54px;background:url(../images/ico_common.png) no-repeat -145px 0;z-index: 10}
.pageTop:hover{opacity: 1}



i.bgico{position: absolute;width: 48px;height: 48px;background:url(../images/bg_common.png) no-repeat 0 0;z-index: 10}
i.bgico.ty1{top: 360px;left: 80px;}
i.bgico.ty2{top: 725px;right: 80px;}
i.bgico.ty3{top: 1425px;right: 230px;background-position: -68px 0;}
i.bgico.ty4{top: 1735px;left: 92px;}
i.bgicoFoot{position: absolute;width: 48px;height: 48px;background:url(../images/bg_common.png) no-repeat 0 0;z-index: 1}
i.bgicoFoot.ty1{bottom: 130px;left: -130px;width: 376px;height: 183px;background-position: -152px 0;}
i.bgicoFoot.ty2{bottom: 130px;left: -200px;width: 502px;height: 252px;background-position: -540px 0;}
i.bgicoFoot.ty3{bottom: 470px;left: 185px;}
i.bgicoFoot.ty4{bottom: 310px;right: 185px;background-position: 0 0;}

.color1{color: #1168c0 !important;}

.mt5{margin-top: 5px !important;}
.mt10{margin-top: 10px !important;}
.mt17{margin-top: 17px !important;}
.mt20{margin-top: 20px !important;}
.mt25{margin-top: 25px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}
.mt50{margin-top: 50px !important;}
.mt65{margin-top: 65px !important;}
.mt70{margin-top: 70px !important;}
.mt80{margin-top: 80px !important;}
.mt90{margin-top: 90px !important;}
.mb5{margin-bottom: 5px !important;}
.mb10{margin-bottom: 10px !important;}
.mb15{margin-bottom: 15px !important;}
.mb30{margin-bottom: 30px !important;}

.pt0{padding-top: 0px !important;}
.pt40{padding-top: 40px !important;}
.pt60{padding-top: 60px !important;}
.pt70{padding-top: 70px !important;}
.pt80{padding-top: 80px !important;}
.pt90{padding-top: 90px !important;}
.pt100{padding-top: 100px !important;}
.pb0{padding-bottom: 0 !important;}
.pb10{padding-bottom: 10px !important}
.pb20{padding-bottom: 20px !important}
.pb30{padding-bottom: 30px !important}
.pb40{padding-bottom: 40px !important;}
.pl40{padding-left: 40px !important;}


.ht320{height: 320px !important;position: relative;}


@media screen and (max-width:1600px){
	.pcCon .inner, .locationWrap .inner, header .PCheader .inner, .pginner, .PCfooter .inner{width: 1180px;}
	i.bgico, i.bgicoFoot{display: none;}
	header .utilList{width: 880px;}
	.gnbList{margin-left: 330px;}
	.gnbList > li{margin-right: 99px;}
	.gnbList > li:nth-child(3){margin-right: 123px;}
	.gnbList > li:first-child{margin-right: 48px;}
}

@media screen and (max-width:1200px){
	.wrap{padding-bottom: 50px !important;padding-top: 30px}
	.Mheader, .moCon, .Mfooter{display: block;}
	.locationWrap, .pcCon, .PCheader, .PCfooter{display: none;}
	header, header.sticky{height: 36px !important}
	.moCon{padding-bottom: 50px;}
	.hyetc .moCon{padding-bottom: 0;}
	.pginner{width: inherit;}
	.pageTop{position: absolute;right: 18px;bottom: 10px;font-size: 0;width: 28px;height: 28px;background:url(../images/sprite_icon.png) no-repeat -72px 0;background-size:500px 250px;z-index: 10;}
}
